.logo {
  border-radius: 0.6rem;
  margin-left: -0.5rem;
  padding: 0.65rem;
  transition: transform 100ms ease-in-out, background-color 100ms ease-in-out;
}

.logo > img {
  height: 1.8rem;
}

.logo:hover {
  background-color: rgba(var(--colors-bgLightest));
}

.logo:active {
  transform: scale(1.05);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.picker {
  padding-left: 0.65rem;
  padding-bottom: 0.25rem;
}
